h1
{
	text-align: center;
}

table
{

	margin:0 auto;
	
}

td 
{
	width: 100px;
	height: 100px;
	

}

.center
{
	border: 2px solid black;
}

td:nth-of-type(2)
{
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.middle td:nth-of-type(odd)
{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

