button
{
	margin: 25px 10px;
	width: 129px;
	height:36px;
	border: 0px;
	background: #F2F2F2;
	color: #757575;
	font-weight: 600;
}


input
{
	display: block;
	width: 588px;
	height: 48px;
	padding: 8px;
	border: 1px solid #F2F2F2;
	box-shadow: 2px 2px 8px #666;
}

img
{
	width: 250px;
	height: 95px;
	padding: 10px 0; 
}

.control
{
	
	text-align: center;
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);	

}